<%- include('partials/header'); -%>

<div class="row">
    <div class="col">
        <h2>Latest Songs</h2>

        <ul>
            <% songs.forEach(function(song) { %>
            <li>
                <a href="/html/song/<%= song.id %>"><strong><%= song.title %></strong> by <em><%= song.artists[0].first_name %> <%= song.artists[0].last_name %></em></a>
            </li>
            <% }); %> 
        </ul>
    </div>

    <div class="col">
        <h2>Featured Artists</h2>
    </div>
</div>

<%- include('partials/footer'); -%>